@model Sistema_de_Gestion_de_Importaciones.Models.Movimiento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movimiento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Fecha y Hora
        </dt>
        <dd class="col-sm-10">
            @Model.fechahora
        </dd>
        <dt class="col-sm-2">
            Id Importación
        </dt>
        <dd class="col-sm-10">
            @Model.idimportacion
        </dd>
        <dt class="col-sm-2">
            Id Empresa
        </dt>
        <dd class="col-sm-10">
            @Model.idempresa
        </dd>
        <dt class="col-sm-2">
            Tipo de Transacción
        </dt>
        <dd class="col-sm-10">
            @Model.tipotransaccion
        </dd>
        <dt class="col-sm-2">
            Cantidad Requerida
        </dt>
        <dd class="col-sm-10">
            @Model.cantidadrequerida
        </dd>
        <dt class="col-sm-2">
            Cantidad de Camiones
        </dt>
        <dd class="col-sm-10">
            @Model.cantidadcamiones
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
