@model IEnumerable<Sistema_de_Gestion_de_Importaciones.Models.Empresa>

@{
    ViewData["Title"] = "Empresas";
}

<h1>Empresas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nueva Empresa</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEmpresa)
            </td>
            <td>
                <input type="checkbox" disabled="disabled" @(item.Estatus == 1 ? "checked" : "") style="color: green;" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEmpresa" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdEmpresa" class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEmpresa" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
