@model IEnumerable<Sistema_de_Gestion_de_Importaciones.Models.Barco>

@{
    ViewData["Title"] = "Barcos";
}

<h1>Barcos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Barco</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreBarco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escotilla1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escotilla2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escotilla3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escotilla4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escotilla5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escotilla6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escotilla7)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreBarco)
            </td>
            <td>
                @(item.Escotilla1 ?? 0)
            </td>
            <td>
                @(item.Escotilla2 ?? 0)
            </td>
            <td>
                @(item.Escotilla3 ?? 0)
            </td>
            <td>
                @(item.Escotilla4 ?? 0)
            </td>
            <td>
                @(item.Escotilla5 ?? 0)
            </td>
            <td>
                @(item.Escotilla6 ?? 0)
            </td>
            <td>
                @(item.Escotilla7 ?? 0)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
